
.ant-card-bordered {
    border-radius: 0;
        
}
.ant-card {
    border-radius: 0;
}
.ant-card-bordered {
    border-radius: 0;
}


.ant-rate .ant-rate-star:not(:last-child) {
    margin-inline-end: 6px;
}








